#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec='/home/pc1virtual/Desktop/script.sh'
Name=Network Diagnostic Tool
Comment=Have fun :")
